@font-face {
	font-family: 'Gilroy-Light';
	src: url('./fonts/gilroy-light.eot'); /* IE 9 Compatibility Mode */
	src: url('./fonts/gilroy-light.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('./fonts/gilroy-light.woff2') format('woff2'), /* Super Modern Browsers */
		url('./fonts/gilroy-light.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('./fonts/gilroy-light.ttf') format('truetype'), /* Safari, Android, iOS */
		url('./fonts/gilroy-light.svg#gilroy-light') format('svg'); /* Chrome < 4, Legacy iOS */
}

@media print {

    
    .title{
        font-family: 'Gilroy-Light';
        color: black;
        font-size: 40px;
        visibility: visible;
    }
    .container{
        display: flex;
        justify-content: left;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .text{
        color:black;
        text-align: justify;
        font-size: 22px;
        display: flex;
    }

    .sign{
        text-align: center;
        color: black;
        font-style: normal;
        font-weight: 400;
    }

    .print{
        visibility: hidden;
    }

}

@media screen and (max-width: 767px) {
    .screen{
        visibility: hidden;
    }
    .title, .text{
        text-align: center;
    }

    
    .time_box{
        display: flex;
        visibility: visible;
        color: white;
        position: absolute;
        align-items: center;
        top: 0;
    }
    
    .time{
        margin-right: 230px;
    }

    .bata{
        margin-left: -20px;
    }

    .title{
        font-size: 52px;
        line-height: 83px;
        margin-top: 50px;
    }
    .text{
        font-size: 16px;
        line-height: 21.41px;
        min-width: 315px;
        padding: 0 20px 0 25px;
        
    }
    .sign{
        font-size: 16px;
        margin-bottom: 20px;

    }
    .container{
        min-width: 360px;
        min-height: 780px;
    }
    
    .megacom{
        position: absolute;
        bottom: 20px;
        
    }
    .left_top{
        max-width: 25%;
        height: auto;
    }

    .center_pic{
        left: 160px;
        max-width: 70%;
    }
    .for_adopt{
        width: 100%;
        height: 100%;
    }

    .music{
        top: 85px;
        left: 80%;

        width: 40px;
        height: 40px;
    }
    .music_t{
        visibility: visible;
        position: absolute;
        top: 40px;
        left: 80%;
        font-size: 12px;
        font-family: 'Gilroy-Light', sans-serif;
        color: white;
        padding: 0;
    }
}